body {
  background: #111;
  margin: 0;
}
html,
body {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
.container-parallax {
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.layer {
  position: absolute;
}
.scene,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.layer div {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 120%;
  height: 120%;
  background-repeat: no-repeat;
  left: -10%;
  top: -10%;
}

div.image.depth-1 {
  background-image: url("../images/1.png");
  background-size: contain;
  background-position: center center;
}

div.image.depth-2 {
  background-image: url("../images/2.png");
  background-size: contain;
  background-position: center center;
}
div.image.depth-3 {
  background-image: url("../images/3.png");
  background-size: contain;
  background-position: center center;
  /* top: -20%; */
}
div.image.depth-4 {
  background-image: url("../images/4.png");
  background-size: contain;
  background-position: center center;
  /* top:auto; */
  /* bottom: 0; */
}

.serial-port {
  padding-top: calc(100vh / 2 - 64px);
}

